body {
  background:#0b1e35;
  color:white;
  text-align:center;
  font-family:Arial;
}

h1 {
  margin-top:40px;
}

button {
  display:block;
  margin:20px auto;
  padding:15px;
  width:80%;
  border:none;
  border-radius:10px;
  background:#2e86de;
  color:white;
  font-size:18px;
}
