body{
  background:#0f172a;
  color:white;
  text-align:center;
  font-family:sans-serif;
}
button{
  width:90%;
  padding:12px;
  background:#22c55e;
  border:none;
  border-radius:8px;
  font-size:16px;
}
