body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #061a33, #020b18);
    color: white;
}

.container {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    font-size: 16px;
    background: #1e90ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

button:active {
    background: #187bcd;
}
