body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

button {
  margin: 10px;
  padding: 12px;
  width: 80%;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}
